<html>
    <head>
        <%- include('head'); -%>
    </head>
    <body>
        
        <%- include("bg") %>
        
        <div><%- include('nav'); -%></div>
        <div class="title">WELCOME<br><br></div>
        <div class="title hmnam ">
            SHYNU V
        </div>
        <div class="title hmnam mt-4">
            BATCH-3
        </div>
        <div class="title hmnam mt-5">
            2021
        </div>
        
    </body>
</html>