<html>
	 <head>
        <%- include('head'); -%>
    </head>

	<body>
			<%- include("bg") %>
        
        <div><%- include('nav'); -%></div>

		<div style="text-align: center" class="mb-2 dindex">Enter your Email</div>
		<div class="container formsize dindex">
			<form
				action="/home/mailer"
				onsubmit="return emails(email,error)"
				method="POST"
				autocomplete="off"
			>
				<div class="form-group mb-4 formcls">
					<label for="email">Email</label>
					<input type="email" name="email" id="email" class="form-control" />
					<label for="error" name="error" id="error" style="color: red; font-size: small" class="mt-2"></label>
				</div>
				<button class="btn btn-block login-btn" style="width: 100%; background-color: blue">Send Email</button>
			</form>
		</div>		
	</body>
</html>
