<html>
    <head>
        <%- include('head'); -%>
    </head>
    <body>
        
        <%- include("bg") %>
        
        <div><%- include('nav'); -%></div>
        <div class="title hmnam"><%= result %></div>
        
    </body>
</html>