<html>
    <head>
        <%- include('head'); -%>
    </head>
    <body>
        
        <%- include("bg") %>
        
        <div><%- include('nav'); -%></div>
        <div class="title hmnam">Mail send <%= result %></div>
        
    </body>
</html>